<div class="container">
  <div>
    <h2 class="bg-dark text-center text-white p-2">Angular Forms</h2>
  </div>
  <div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" ngModel>        
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="checkme" name="checkme" ngModel>
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>