
<div class="container">
  <div>
    <h2 class="bg-dark text-center text-white p-2">Angular Forms</h2>
  </div>

  <div class="alert alert-warning alert-dismissible fade show" role="alert" 
    *ngIf="alertMessage.length">
    <strong>Message:</strong> {{alertMessage}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onAlertClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="mb-3">
        <label for="username" class="form-label">User name</label>
        <input type="text" class="form-control" #username="ngModel" name="username" ngModel required minlength="5" pattern="^[A-Za-z ]+$">
        
          <div *ngIf="!username.untouched && username.errors?.required" class="alert alert-danger">
            Please enter uesrname
          </div>
          <div *ngIf="username.errors?.minlength" class="alert alert-danger">
            Uesr name must be at least {{username.errors.minlength.requiredLength}} characters
          </div>
          <div *ngIf="username.errors?.pattern" class="alert alert-danger">
            Uesr name contains only letters and space 
          </div>          
        
      </div>     
      
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" required class="form-control" #email="ngModel" name="email" ngModel>
        <div *ngIf="!email.valid && !email.untouched" class="alert alert-danger">
          Please enter email
        </div>        
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" required class="form-control" #password="ngModel" name="password" ngModel>
        <div *ngIf="!password.valid && !password.untouched" class="alert alert-danger">
          Please enter password
        </div> 
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" #checkme="ngModel" name="checkme" ngModel>
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>      
      <button [disabled]="!form.valid || !checkme.value" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>